html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

select,
option {
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

.heading-1 {
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.heading-2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.heading-3 {
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  border-left: 2px solid #4f6367;
  display: block;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: white;
}

.header {
  background-color: #4f6367;
  color: #eee;
  position: fixed;
  width: 100vw;
}
.header__title {
  display: flex;
  padding: 2rem 12rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #eee;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  height: 6rem;
}

.navigation {
  padding: 0 12rem;
}
.navigation__list {
  list-style: none;
  display: flex;
}
.navigation__item {
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 300ms;
  border-bottom: 2px solid transparent;
}
.navigation__item:hover {
  background-color: #eee;
}
.navigation__item:hover > .navigation__link {
  color: #4f6367;
}
.navigation__link:link, .navigation__link:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #eee;
  transition: all 300ms;
}

.nav-active {
  background-color: #eee;
}
.nav-active > .navigation__link {
  color: #4f6367;
}

.input-box {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}
.input-box__form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.input-box__form-box {
  overflow-y: scroll;
  height: calc(100vh - 35rem);
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background-color: #f3f8e6;
}
.input-box__form-box::-webkit-scrollbar {
  width: 0.6rem;
}
.input-box__form-box::-webkit-scrollbar-thumb {
  background-color: #4f6367;
  border-radius: 3px;
}
.input-box__input-group {
  display: flex;
  align-items: center;
}
.input-box__input-group:not(:last-child) {
  margin-bottom: 1rem;
}
.input-box__units {
  font-size: 1.6rem;
  margin: 0 1rem;
  flex: 0 0 8rem;
  font-weight: 300;
}
.input-box__at {
  margin: 0 1rem;
  font-weight: 300;
  flex: 0 0 4rem;
  text-align: center;
}
.input-box__label {
  flex: 0 0 20rem;
  font-weight: 400;
}
.input-box__label-2 {
  flex: 0 0 8rem;
  font-weight: 400;
}
.input-box__input {
  font-family: inherit;
  flex: 1 1;
  font-weight: 400;
  padding: 0.3rem;
  text-align: end;
  transition: all 300ms;
  color: inherit;
  border: none;
  border-bottom: 2px solid transparent;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.02);
  min-width: 10rem;
}
.input-box__input:focus {
  outline: none;
  border-bottom: 2px solid #4f6367;
}
.input-box__input::placeholder {
  color: #333;
  opacity: 50%;
  font-weight: 300;
}
.input-box__input-2 {
  font-family: inherit;
  flex: 0 0 auto;
  padding: 0.3rem;
  text-align: end;
  transition: all 300ms;
  color: inherit;
  border: none;
  border-bottom: 2px solid transparent;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.02);
  min-width: 10rem;
}
.input-box__input-2:focus {
  outline: none;
  border-bottom: 2px solid #4f6367;
}
.input-box__option {
  color: inherit;
  border: none;
  font-family: inherit;
  padding: 0.3rem;
  text-align: end;
  -webkit-padding-end: 2rem;
  -moz-padding-end: 2rem;
}
.input-box__super-group {
  padding-left: 2rem;
  border-left: 2px solid #4f6367;
  margin-bottom: 1.5rem;
}
.input-box__populate-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-115%);
  padding: 0.5rem 0.5rem;
  color: #eee;
  background-color: #4f6367;
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: all 300ms;
}
.input-box__populate-btn:hover {
  transform: translateY(-120%) scale(1.05);
}

.button-box {
  align-self: center;
  width: 100%;
  height: 5rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4f6367;
}
.button-box__button {
  width: 20rem;
  transition: all 300ms;
  outline-offset: 1.5px;
  outline: 1.5px solid transparent;
  border: 1.5px solid #eee;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: #4f6367;
  letter-spacing: 3px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.button-box__button:hover {
  color: #4f6367;
  background-color: #eee;
  outline-offset: 1.5px;
  outline: 1.5px solid #eee;
}
.button-box__icon {
  font-size: 2.4rem;
  margin-left: 0.5rem;
}

.output-box {
  height: calc(100vh - 30rem);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.03);
  background-color: #f3f8e6;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 2rem 3rem;
}
.output-box::-webkit-scrollbar {
  width: 0.6rem;
}
.output-box::-webkit-scrollbar-thumb {
  background-color: #4f6367;
  border-radius: 3px;
}
.output-box__container {
  position: relative;
}
.output-box .output-box__item-list {
  list-style: none;
}
.output-box__label {
  flex: 0 0 6rem;
  font-weight: 400;
}
.output-box__tables-box {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.output-box__clear-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-115%);
  padding: 0.5rem 0.5rem;
  color: #eee;
  background-color: #4f6367;
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: all 300ms;
}
.output-box__clear-btn:hover {
  transform: translateY(-120%) scale(1.05);
}

.item:not(:first-of-type) {
  margin-top: 1rem;
}
.item__title-box {
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.05);
  padding: 2rem;
  background-color: #4f6367;
  color: #eee;
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  align-items: center;
  height: 10rem;
  opacity: 1;
}
.item__title-box.closed + .item__results-box {
  height: 0;
}
.item__title-box.closed .item__dropdown-icon.down {
  opacity: 1;
}
.item__title-box.closed .item__dropdown-icon.up {
  opacity: 0;
}
.item__results-box {
  transition: all 600ms;
  overflow: hidden;
}
.item__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: all 600ms;
  flex: 0 1 25rem;
}
.item__dropdown {
  height: 2.4rem;
  width: 2.4rem;
  position: relative;
}
.item__dropdown-icon {
  height: 2.4rem;
  width: 2.4rem;
  position: absolute;
  transition: all 300ms;
}
.item__dropdown-icon.up {
  opacity: 1;
}
.item__dropdown-icon.down {
  opacity: 0;
}
.item__takeoff-box {
  grid-template-columns: 7.5rem 4fr 2fr 2fr;
  grid-template-rows: 3.5rem 3.5rem;
}
.item__takeoff-box, .item__calculations-box {
  display: grid;
  background-color: white;
  padding: 1rem;
  transition: all 600ms;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  font-size: 1.4rem;
}
.item:nth-child(1) .item__title-box:not(.closed) + .item__results-box {
  height: 45rem;
}
.item:nth-child(2) .item__title-box:not(.closed) + .item__results-box {
  height: 132rem;
}

.takeoff__header {
  font-weight: 400;
  letter-spacing: -0.4px;
}

.main {
  overflow-y: hidden;
}
.main__title {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}
.main__description {
  font-style: italic;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}
.main__description span {
  font-weight: 700;
  text-decoration: underline;
}

.calculator {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  column-gap: 5rem;
  justify-items: center;
  align-items: start;
  margin-top: 3rem;
}

.under-construction {
  width: 100vw;
}

.calc-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}
.calc-table, .calc-table__header, .calc-table__data {
  border: 1px dotted black;
  padding: 0.4rem;
  transition: all 600ms;
  word-wrap: break-word;
}
.calc-table__data {
  opacity: 1;
}
.calc-table__data:empty {
  opacity: 0;
}
.calc-table__header {
  text-align: center;
  text-transform: uppercase;
}
.calc-table__col:nth-child(2) {
  width: 20%;
}
.calc-table__col:nth-child(3) {
  width: 16%;
}
.calc-table__col:nth-child(1) {
  width: 64%;
}
.calc-table__data:nth-child(1) {
  padding-left: 1.5rem;
  text-align: start;
}
.calc-table__data:nth-child(2) {
  padding-right: 1rem;
  text-align: end;
}
.calc-table__data:nth-child(3) {
  padding-left: 1rem;
  text-align: start;
}

.takeoff-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 80%;
}
.takeoff-table__col:nth-child(1) {
  width: 55%;
}
.takeoff-table__col:nth-child(2) {
  width: 25%;
}
.takeoff-table__col:nth-child(3) {
  width: 20%;
}
.takeoff-table__data {
  opacity: 1;
  height: 4rem;
}
.takeoff-table__data:empty {
  opacity: 0;
}
.takeoff-table__header {
  text-align: center;
  text-transform: uppercase;
}
.takeoff-table__header, .takeoff-table__data {
  border: 1px dotted black;
  padding: 0.4rem;
  transition: all 600ms;
  word-wrap: break-word;
}
.takeoff-table__data:nth-child(1) {
  padding-left: 1.5rem;
  text-align: start;
}
.takeoff-table__data:nth-child(2) {
  padding-right: 1rem;
  text-align: end;
}
.takeoff-table__data:nth-child(3) {
  padding-left: 1rem;
  text-align: start;
}

.wastage-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 18%;
}
.wastage-table__header {
  text-align: center;
  text-transform: uppercase;
}
.wastage-table__data, .wastage-table__header {
  border: 1px dotted black;
  padding: 0.4rem;
  transition: all 600ms;
  word-wrap: break-word;
}
.wastage-table__col:nth-child(1) {
  width: 20%;
}
.wastage-table__data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}
.wastage-table__swc {
  font-family: inherit;
  flex: 0 0 6rem;
  padding: 0.3rem;
  text-align: end;
  transition: all 300ms;
  background-color: #7a9e9f;
  border-radius: 2px;
  color: #eee;
  border: none;
  border-bottom: 2px solid transparent;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.02);
}
.wastage-table__swc:focus {
  outline: none;
  border-bottom: 2px solid #4f6367;
}
.wastage-table__percent {
  font-size: 1.6rem;
  margin-left: 0.5rem;
  flex: 0 0 1.5rem;
  font-weight: 300;
}

.modal {
  width: 40%;
  background-color: #eee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}
.modal__title-box {
  background-color: #4f6367;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__box {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transition: all 700ms;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.modal__box.modal-opened {
  transition: all 700ms;
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.modal__box.modal-opened__overlay {
  opacity: 1;
}
.modal__message-text {
  padding: 1rem;
  font-size: 1.8rem;
  align-self: flex-start;
}
.modal__button-2 {
  font-size: 1.8rem;
  font-family: inherit;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  background-color: #4f6367;
  color: #eee;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 400ms;
  outline: 2px solid transparent;
}
.modal__button-2:hover {
  transform: scale(1.05);
  outline-offset: 1px;
  outline: 2px solid #4f6367;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal__button {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 400ms;
  outline: 2px solid transparent;
}
.modal__button:hover {
  transform: scale(1.05);
  outline-offset: 1px;
  outline: 2px solid #333;
}
.modal__icon {
  width: 3.2rem;
  height: 3.2rem;
}

.tab {
  display: none;
}
.tab__active.tab-home, .tab__active.tab-about, .tab__active.tab-masonry {
  display: block;
  height: 100vh;
  overflow-y: hidden;
}
.tab__active.tab-road {
  display: flex;
  flex-direction: column;
  padding: 12rem;
  padding-bottom: 4rem;
  padding-top: 16rem;
  background-color: #eee;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
