.output-box {
  height: 55rem;
  // border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 1rem 1rem 3rem rgba($color: #000000, $alpha: 0.03);
  background-color: $color-beige-1;

  overflow-y: scroll;
  border-radius: 5px;

  padding: 2rem 3rem;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-stormcloud;
    border-radius: 3px;
  }
  &__item-list {
    list-style: none;
  }

  &__label {
    flex: 0 0 6rem;
    font-weight: 400;
  }
}
