$color-columbiablue: #b8d8d8;
$color-weldonblue: #7a9e9f;
$color-stormcloud: #4f6367;

$color-beige: #eef5db;

$color-beige-1: #f3f8e6;

$color-sunsetorange: #fe5f55;

$font-default: #333;
$font-white: #eee;
