.main {
  overflow-y: hidden;
  &__title {
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid $font-default;
    padding-bottom: 0.5rem;
  }

  &__description {
    font-style: italic;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    & span {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.calculator {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  column-gap: 5rem;
  justify-items: center;
  align-items: stretch;
  margin-top: 3rem;
}

.under-construction {
  width: 100vw;
}
